@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

nav {
  background: #D4E7F3;
}

nav .nav-link {
  letter-spacing: 1px;
  color: #181818;
}

.logo {
  display: flex;
  flex-direction: column;
  color: #147FA1;
}

.top-logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
}

.bot-logo {
  font-size: 11px;
  letter-spacing: 0.02em;
}

.button-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 30px;
  gap: 10px;
  background: #147FA1;
  border-radius: 25px;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-decoration: none;
}