@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

nav {
  background: #D4E7F3;
}

nav .nav-link {
  letter-spacing: 1px;
  color: #181818;
}

.logo {
  display: flex;
  flex-direction: column;
  color: #147FA1;
}

.top-logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
}

.bot-logo {
  font-size: 11px;
  letter-spacing: 0.02em;
}

.button-link,
.learn-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 30px;
  gap: 10px;
  background: #147FA1;
  border-radius: 25px;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-decoration: none;
}

header {
  background-color: #147FA1;
  color: #fff;
  width: 100%;
}

header section {
  width: 50%;
}

header h1 {
  font-family: 'Aleo';
  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
  color: #FFFFFF;
  margin: 90px 0;
}

h2 {
  font-family: 'Aleo';
  font-weight: 700;
  font-size: 35px;
  line-height: 55px;
  color: #00407A;
}

.header-img {
  background: url(../img/hero.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

main {
  background: #D4E7F3;
  padding-top: 50px;
}

.who-we-are,
.our-services,
.what-we-do {
  padding: 100px 0 0;
}

.team-img {
  height: 377px;
  background: url('../img/who-we-are.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
}

.our-services-img {
  height: 377px;
  background: url('../img/our-services.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
}

.what-we-do-img {
  height: 377px;
  background: url('../img/what-we-do.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
}

.desc {
  line-height: 32px;
  color: #181818;
}

.divider {
  width: 50px;
  height: 2px;
  border-top: 2px solid #147FA1;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.call-to-action {
  display: flex;
  flex-direction: row;
}