@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

nav {
  background: #D4E7F3;
}

nav .nav-link {
  letter-spacing: 1px;
  color: #181818;
}

.logo {
  display: flex;
  flex-direction: column;
  color: #147FA1;
}

.top-logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
}

.bot-logo {
  font-size: 11px;
  letter-spacing: 0.02em;
}

.button-link,
.learn-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 30px;
  gap: 10px;
  background: #147FA1;
  border-radius: 25px;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-decoration: none;
}

header.home-bg {
  display: flex;
  background-color: #147FA1;
  color: #fff;
  width: 100%;
}

header.home-bg section {
  width: 50%;
}

header.home-bg h1 {
  font-family: 'Aleo';
  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
  color: #FFFFFF;
  margin: 90px 0;
}

header.about-header h1 {
  font-family: 'Aleo';
  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
  /* color: #FFFFFF; */
  /* margin: 90px 0; */
}

h2 {
  font-family: 'Aleo';
  font-weight: 700;
  font-size: 35px;
  line-height: 55px;
  color: #00407A;
}

h3 {
  font-family: 'Aleo';
  font-weight: 400;
  font-size: 32px;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.header-img {
  background: url(../img/hero.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.about-img-bg {
  /* height: 600px; */
  background: url(../img/about.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.contact-section {
  background-image: linear-gradient(to bottom, rgba(212, 231, 243, 1), rgba(212, 231, 243, 0.7)), url(../img/global.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.form {
  padding: 70px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  margin: 0 0 100px 0;
}

main {
  background: #D4E7F3;
  padding-top: 50px;
}

.commit {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 40px 0 70px;
}

.who-we-are,
.our-services,
.what-we-do,
.global-educ-section {
  padding: 100px 0 0;
}

.team-img {
  height: 377px;
  background: url('../img/who-we-are.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
}

.our-services-img {
  height: 377px;
  background: url('../img/our-services.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
}

.what-we-do-img {
  height: 377px;
  background: url('../img/what-we-do.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
}

.global-educ-img {
  height: 377px;
  background: url('../img/global.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
}

.desc {
  line-height: 32px;
  color: #181818;
}

.divider {
  width: 50px;
  height: 2px;
  border-top: 2px solid #147FA1;
}

.divider2 {
  width: 50px;
  height: 2px;
  border-top: 2px solid rgba(255, 255, 255, 0.4);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.call-to-action {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.global-educ-section {
  background: #FFFFFF;
}

.bottom-section-padding {
  padding-bottom: 100px;
}

.more-bottom-section-padding {
  padding-bottom: 300px;
}

.about-us {
  background: rgba(84, 188, 235, 0.9);
  height: 400px;
  position: relative;
}

.about-us-cards {
  display: flex;
  position: absolute;
  top: -200px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.about-us-cards > section {
  width: 33.333%;
}

.more {
  line-height: 32px;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.content-card {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.why-abroad {
  background-image: linear-gradient(to bottom, rgba(0, 64, 122, 0.7), rgba(0, 64, 122, 0.7)), url('../img/building.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 60px 30px;
}

.our-mission {
  background-image: linear-gradient(to bottom, rgba(84, 188, 235, 0.8), rgba(84, 188, 235, 0.8)), url('../img/mission.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 60px 30px;
  border-left: 2px solid #FFFFFF;
  border-right: 2px solid #FFFFFF;
}

.choose-us {
  background-image: linear-gradient(to bottom, rgba(188, 132, 83, 0.6), rgba(188, 132, 83, 0.6)), url('../img/choose.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 60px 30px;
}

footer {
  background: #00407A;
  padding: 60px 0;
}

.footer-links,
.footer-links div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-links div {
  gap: 10px;
}

footer h5 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.right-float {
  text-align: right;
}

.footer-links div a {
  font-size: 14px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.footer-logo {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.5);
}

.rights,
.rights a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  text-align: center;
}


@media screen and (max-width: 992px) {
  header {
    flex-direction: column;
  }

  header section {
    width: 100%;
  }

  .header-img {
    height: 400px;
  }

  .about-us {
    height: auto;
  }

  .about-us-cards {
    position: relative;
    top: 0px;
    box-shadow: none;
    flex-direction: column;
  }

  .about-us-cards > section {
    width: 100%;
  }

  .more-bottom-section-padding {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 768px) {
  .right-float {
    text-align: left;
  }
}

@media screen and (max-width: 576px) {
  header h1 {
    margin: 50px 0;
  }

  .footer-links,
  .footer-logo {
    margin-bottom: 35px;
  }
}